{% extends "niobe/base.html" %}

{% load i18n %}

{% block page_title %}
{{ block.super }}
| {% trans "Subjects" %}
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
&raquo; <a href="{% url apps.niobe.views.course_subjects course_id=course.id %}">{{ course }}</a>
{% endblock %}

{% block content %}
<div id="subjects">

  {% load search %}
  {% search search_form request.path %}

  <div class="spacer_10"></div>

  <table class="table_0">
    <thead>
      <tr>
	<td class="left" colspan="6">{% trans "Subjects" %}</td>
	<td class="left" colspan="3">{% trans "Teachers" %}</td>
      </tr>
      <tr>
		<td class="left subject">{% trans "Subject" %}</td>
		<td class="left semester">{% trans "Sem/Year" %}</td>
		<td class="left type">{% trans "Type" %}</td>
		<td class="left teacher">{% trans "Specialty" %}</td>
		<td class="left hours">{% trans "Number of hours" %}</td>
		<td class="left assessment">{% trans "Type of pass" %}</td>
		<td class="left teacher">{% trans "Teacher" %}</td>
		<td class="left groups">{% trans "Number of groups" %}</td>
		<td class="left hours">{% trans "Number of hours" %}</td>
      </tr>
    </thead>
    <tbody>
      {% for subject in subject_teacher_list %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="subject">
	  <a class="link_edit link_0" href="{% url apps.niobe.views.subject_show course.id subject.subject.id %}">
	    {{ subject.subject.name|capfirst }}
	  </a>
	</td>
	<td class="semester">{{ subject.subject.semester }}</td>
	<td class="type">{{ subject.subject.type }}</td>
	<td class="sgroup">{{ subject.subject.module.get_sgroup.name }}</td>
	<td class="hours">{{ subject.subject.hours }}</td>
	<td class="assessment">{{ subject.subject.assessment }}</td>
	<td class="teacher">
	  <ul>
	    {% for stt in subject.subject_to_teacher %}
	    <li>{{ stt.teacher }}</li>
	    {% endfor %}
	  </ul>
	</td>
	<td class="groups">
	  <ul>
	    {% for stt in subject.subject_to_teacher %}
	    <li>{{ stt.groups }}</li>
	    {% endfor %}
	  </ul>
	</td>
	<td class="hours">
	  <ul>
	    {% for stt in subject.subject_to_teacher %}
	    <li>{{ stt.hours }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="spacer_10"></div>

  {% load paginator %}
  {% paginator subject_page %}

</div>
{% endblock %}
