{% extends "niobe/course_subjects.html" %}

{% load i18n %}

{% block js %}
{# block.super #}
<script type="text/javascript" src="{{ STATIC_URL }}/niobe/js/window_popup.js"></script>
{% endblock %}

{% block page_title %}
{{ block.super }}
| {{ subject }}
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
&raquo; <a href="{% url apps.niobe.views.subject_show course.id subject.id %}">{{ subject }}</a>
{% endblock %}

{% block content %}
<div id="subject_form">
  
  {# zakładamy że moduł przypisany jest tylko do jednej grupy przedmiotów #}
  <table class="table_0">
    <thead>
      <tr>
	<td colspan="2">{% trans "Subject" %}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>{% trans "Course" %}:</td>
	<td>{{ subject.module.get_sgroup.course|capfirst }}</td>
      <tr>
	<td>{% trans "Specialty" %}:</td>
	<td>{{ subject.module.get_sgroup|capfirst }}</td>
      </tr>
      <tr>
      	{% if subject.module.get_sgroup.course.years %}
			<td>{% trans "Year" %}:</td>
		{% else %}
			<td>{% trans "Semester" %}:</td>
		{% endif %}
		<td>{{ subject.semester }}</td>
      </tr>
      <tr>
	<td>{% trans "Module" %}:</td>
	<td>{{ subject.module }}</td>
      </tr>
      <tr>
	<td>{% trans "Subject" %}:</td>
	<td>{{ subject }}</td>
      </tr>
    </tbody>
  </table>
  <div class="spacer_10"></div>
  <form action="{% url apps.niobe.views.subject_show course.id subject.id %}" method="post">
    {% csrf_token %}
    <table class="table_0">
      <thead>
	<tr>
	  <td class="left teacher" colspan="2">{% trans "Teacher" %}</td>
	  <td class="left groups">{% trans "Number of groups" %}</td>
	  <td class="left hours">{% trans "Number of hours" %}</td>
	  {% if perms.merovingian.delete_subjecttoteacher %}
	  <td class="center delete">{% trans "Delete" %}</td>
	  {% endif %}
	</tr>
      </thead>
      <tbody>
	{{ subject_to_teacher_formset.management_form }}
	{% for form in subject_to_teacher_formset.forms %}
	<tr class="{% cycle 'odd' 'even' %}">
	  <td class="left">
	    {{ form.id }}
	    {{ form.subject }}
	    {{ form.errors.teacher }}
	    {{ form.teacher }}
	  </td>
	  <td class="left">
	    <a class="link_0" href="#"
	       onclick="show_window('{% url apps.niobe.views.teacher_list %}', 'id_subjecttoteacher_set-{{ forloop.counter0 }}-teacher'); return false;">
	      {% trans "Choose" %}
	    </a>
	  </td>
	  <td class="left">
	    {{ form.errors.groups }}
	    {{ form.groups }}
	  </td>
	  <td class="left">
	    {{ form.errors.hours }}
	    {{ form.hours }}
	  </td>
	  {% if perms.merovingian.delete_subjecttoteacher %}
	  <td class="center">
	    {{ form.DELETE }}
	  </td>
	  {% endif %}
	</tr>
	{% endfor %}
      </tbody>
    </table>

    <div class="spacer_10"></div>
    
    <div class="bar_0">
      <button class="button_2" type="submit" name="action" value="save_and_edit">
	{% trans "Save and stay on this page" %}
      </button>
      <button class="button_2" type="submit" name="action" value="save">
	{% trans "Save and return to the list" %}
      </button>
    </div>
  </form>

</div>
{% endblock %}
